In [5]:
import pandas as pd

In [6]:
Budget = pd.read_csv('Budget.csv')

In [7]:
Budget.head()

   Profit/Losses      Date
0         867884  Jan-2010
1         984655  Feb-2010
2         322013  Mar-2010
3         -69417  Apr-2010
4         310503  May-2010

In [8]:
Budget.shape

(86, 2)

In [9]:
import numpy as mp

In [10]:
Budget['Profit/Losses'].mean()

446309.0465116279

In [11]:
Budget['Profit/Losses'].mean()

446309.0465116279

In [14]:
Total = (Budget['Profit/Losses'].sum())

In [17]:
print(Total)

38382578

In [18]:
len(Budget)

86

In [21]:
Budget['Profit/Losses'].max()

1170593

In [22]:
Budget['Profit/Losses'].min()

-1196225

In [24]:
Budget.loc[Budget['Profit/Losses'].idxmax()]

Profit/Losses     1170593
Date             Feb-2012
Name: 25, dtype: object

In [25]:
Budget.loc[Budget['Profit/Losses'].idxmin()]

Profit/Losses    -1196225
Date             Sep-2013
Name: 44, dtype: object

In [26]:
df_mean = Budget["Profit/Losses"].mean()

In [27]:
print('total motnhs','86')

total motnhs 86

In [28]:
print(Total)

38382578

In [29]:
print('average change')

average change

In [30]:
print(df_mean)

446309.0465116279

In [32]:
display(Budget.loc[[25,44]])

    Profit/Losses      Date
25        1170593  Feb-2012
44       -1196225  Sep-2013