In [10]:
import pandas as pd

In [7]:
Budget = pd.read_csv('Budget.csv')

In [8]:
Budget.head()

   Profit/Losses      Date
0         867884  Jan-2010
1         984655  Feb-2010
2         322013  Mar-2010
3         -69417  Apr-2010
4         310503  May-2010

In [9]:
Budget.shape

(86, 2)